<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="mystyle.css" />

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS: -->
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/lux/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-oOs/gFavzADqv3i5nCM+9CzXe3e5vXLXZ5LZ7PplpsWpTCufB7kqkTlC9FtZ5nJo" crossorigin="anonymous">

    <!-- Font Awsome CDN -->
    <script src="https://kit.fontawesome.com/a4d2520a64.js" crossorigin="anonymous"></script>

    <title>Battery Cost App</title>
</head>

<body>
    {% include 'navbar.html' %}
    <br>
    <div class="px-4 pt-1 pb-4">
        {% block content %}
        replace me
        {% endblock %}
        {% block footer %}
        <br>
        <br>
        <h6>Created by Ethan Woodbury</h6>
        <a target = "_blank" href="https://www.linkedin.com/in/ethan-woodbury/"><i class="fab fa-linkedin-in fa-2x"></i></a>
        <a target = "_blank" href="https://twitter.com/EthanMWoodbury/"><i class="fab fa-twitter fa-2x"></i></a>
        <a target = "_blank" href="https://github.com/ewoodbury"><i class="fab fa-github fa-2x"></i></a>
        {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>